<html>

<body>
    <div >
        <p class="heading fw-bold text-center text-spacing">Contact Us</p>
    </div>
    <div class="row ps-5">
        <div class="col text2">
            <p class="heading fw-bold"> Quick access numbers</p>
            <p class="fw-bold">Shipping T-Mobile</p>
            <p>For personal: 1-800-T-MOBILE</p>
            <p>For business:1-877-236-5954</p>
            <p class="fw-bold">General Customer Care & Technical Support</p>
            <p>From the T-Mobile app on a T-Mobile phone</p>
            <p>From your T-Mobile phone: 611</p>
            <p>Call: 1-800-937-8997</p>
            <p>If you are calling about a technical issue with your T-Mobile service, please call from a different phone
                so that we can troubleshoot with you.</p>
            <p class="fw-bold">T-Mobile Internet Support</p>
            <p>T-Mobile Home Internet Sales Support: 1-844-839-5057</p>
            <p>T-Mobile Home Internet Tech Support: 1-844-275-9310</p>
            <p class="fw-bold">International Callers</p>
            <p>Call:1-505-998-3793</p>
            <p>All calls made to this number from a T-Mobile handset are free from roaming, airtime, or long distance
                charges. Calls made to this number from landlines and non-T-Mobile phones will incur international long
                distance charges as well as any other additional charges that may apply.</p>
            <p>Customer Care representatives are available daily from 4 a.m. to Midnight PST</p>
            <p class="fw-bold">Call Us-TTY</p>
            <p>TTY service is available for the hearing and speeh impaired</p>


        </div>
        <div class="col">
            <p class="fw-bold"> Short Codes</p>
            <p> Just dial the short-code below as if you were making a phone call (information is not available via text
                message), hit "Send," and we’ll give you the info you need. It’s fast, easy, and free!

                #BAL# (#225#) For your account balance and last payment received info.

                #MIN# (#646#) For your minute use for the current billing cycle.

                #MSG# (#674#) For your message use for the current billing cycle.</p>
        </div>
    </div>
    <div class="row ps-5">
        <div class="col-4 ">
            <p class="heading fw-bold">Addresses</p>
            <p class="fw-bold">Questions and Comments</p>
            <p>T-Mobile Customer Relations
                PO Box 37380
                Albuquerque, NM 87176-7380

                Please don't send payments to this address.</p>

        </div>
        <div class="col-4 ">
            <p class="fw-bold">Payments</p>
            <p>You can pay your bill online, or by phone at 1-877-453-1304.</p>
        </div>
        <div class="col-4">
            <p class="fw-bold">Bankruptcy Legal Notices</p>
            <p>T-Mobile Bankruptcy Team
                PO Box 53410
                Bellevue, WA 98015-3410
                DMCA Notices</p>
        </div>
    </div>

</body>

</html>