<html>
<head>
  <title>T-Mobile</title>
  <style>
    .navbar-pink {
      background: white;
    }
    .dropdown-menu[data-bs-popper] {
      left: -63%;
      padding-left: 2rem;
      padding-right: 0rem;
      padding-bottom: 1.5rem;
    }
    .support-menu {
      right: 0rem;
      padding-left: 1.0rem;
      padding-right: 2.0rem;
      padding-bottom: 1.5rem;
    }
    .btn-my_acct {
    
      background: #e20074;
      border-radius: 0rem;
      padding: 1rem 2rem 1rem 2rem;
    }
    .btn-login {
      
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      background: #e20074;
      border-radius: 0rem;
      padding: 1rem 5rem 1rem 5rem;
    }
    .btn-primary-my_acct {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      font-size: 1.25rem;
      border-radius: 0rem;
      margin-left: 1.5rem;
    }
    .btn-primary-sub_menu {
      padding-left: 0.0rem;
      padding-right: 0.25rem;
      font-size: 1.25rem;
      border-radius: 0rem;
      margin-left: 0.25rem;
      margin-right: 0.5rem;
      border-color: white;
    }
    .nav-bar-text {
      background: white;
      border-color: white;
      color: black;
      font-weight: 500;
    }
    .dropdown_support {
      border-radius: 0rem;
      margin-left: 0.25rem;
      margin-right: 0.5rem;
      background-color: white;
      color: black;
      border-color: white;
      font-size: 1.25rem;
      font-weight: 400;
    }
    .banner-text {
      color: #6a6a6a;
      background: #f6f6f6;
      font-weight: 500;
    }
    .black {
      color: black;
      background-color: white;
    }

    .nav-universal_banner {
      background: #f6f6f6;
    }
    .nav-news_banner {
      background: #e20074;
      color: white;
      font-weight: 500;
    }
    .btn-primary-my_acct {
      background: white;
      margin: 0.5rem;
    }
  </style>
</head>
<body>

  <ul class="nav nav-tabs nav-universal_banner">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Wireless</a>
    </li>
    <li class="nav-item">
      <a class="nav-link banner-text" href="#">Business</a>
    </li>
    <li class="nav-item">
      <a class="nav-link banner-text" href="#">Prepaid</a>
    </li>
    <li class="nav-item">
      <a class="nav-link banner-text" href="#">Tv</a>
    </li>
    <li class="nav-item">
      <a class="nav-link banner-text" href="#">Banking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link banner-text" href="#">Internet</a>
    </li>
    <li class="nav-item">
    </li>
  </ul>

  <!-- Second Nav Bar w/ logo -->

  <nav class="navbar navbar-expand navbar-pink">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/tmo-logo-v3.svg" alt="" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="dropdown">
          <button class="btn btn-secondary mx-1 dropdown-toggle nav-bar-text" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Plans
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Magenta®</a></li>
            <li><a class="dropdown-item" href="#">Magenta® Max</a></li>
            <li><a class="dropdown-item" href="#">Essentials</a></li>
            <li><a class="dropdown-item" href="#">Unlimited Age 55+</a></li>
            <li><a class="dropdown-item" href="#">Military & Veterns</a></li>
            <li><a class="dropdown-item" href="#">First Responders</a></li>
            <li><a class="dropdown-item" href="#">Home Internet Plan</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary mx-1 dropdown-toggle nav-bar-text" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Phones & devices
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Cell Phones</a></li>
            <li><a class="dropdown-item" href="#">5G Phones</a></li>
            <li><a class="dropdown-item" href="#">Tablets</a></li>
            <li><a class="dropdown-item" href="#">Smartwatches</a></li>
            <li><a class="dropdown-item" href="#">Hotspots & IoT</a></li>
            <li><a class="dropdown-item" href="#">Accessories</a></li>
            <li><a class="dropdown-item" href="#">Bring your own phone</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary mx-1 dropdown-toggle nav-bar-text" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Deals
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">See all deals</a></li>
            <li><a class="dropdown-item" href="#">Apple</a></li>
            <li><a class="dropdown-item" href="#">Samsung</a></li>
            <li><a class="dropdown-item" href="#">OnePlus</a></li>
            <li><a class="dropdown-item" href="#">Google</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary mx-1 dropdown-toggle nav-bar-text" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Coverage
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Our network</a></li>
            <li><a class="dropdown-item" href="#">5G & 4G coverage map</a></li>
            <li><a class="dropdown-item" href="#">What is 5G</a></li>
            <li><a class="dropdown-item" href="#">Rural 5G & Internet</a></li>
            <li><a class="dropdown-item" href="#">5G news</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary mx-1 dropdown-toggle nav-bar-text" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Why T-mobile
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">What makes us different</a></li>
            <li><a class="dropdown-item" href="#">Benefits</a></li>
            <li><a class="dropdown-item" href="#">Block scam calls</a></li>
            <li><a class="dropdown-item" href="#">Travel</a></li>
            <li><a class="dropdown-item" href="#">Try our network</a></li>
            <li><a class="dropdown-item" href="#">How to switch</a></li>
          </ul>
        </div>
      </div>

      <!-- Right side of Menu -->

      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
          <path
            d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
        </svg>
        <button type="button" class="btn btn-outline-primary btn-primary-sub_menu black ">Find a store</button>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
        <path
          d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
      </svg>
      <div>

        <div class="dropdown ">
          <button class="btn btn-secondary dropdown-toggle dropdown_support bg-red " type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Contact & support
          </button>
          <ul class="dropdown-menu support-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item fs-4" href="#">Chat with an expert</a></li>
            <li><a class="dropdown-item fs-4" href="#">1-800-T-MOBILE</a></li>
            <li><a class="dropdown-item fs-4" href="#">Chat with an expert</a></li>
            <li><a class="dropdown-item fs-4" href="#">Check order status</a></li>
            <li><a class="dropdown-item fs-4" href="#">Help & support</a></li>
            <li><a class="dropdown-item fs-4" href="#">Feedback</a></li>
          </ul>
        </div>
      </div>
      <div><svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-cart-dash"
          viewBox="0 0 16 16">
          <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z" />
          <path
            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
        </svg>
        <button type="button" class="btn btn-outline-primary btn-primary-sub_menu black">Cart</button>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg nav-icons" width="20" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
        <button type="button" class="btn btn-outline-primary btn-primary-sub_menu black">Search</button>
      </div>

      <!-- Dropdown Button -->

      <div class="dropdown px-4">
        <button class="btn btn-secondary btn-my_acct dropdown-toggle fs-5" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          My Account
        </button>
        <ul class="dropdown-menu pe-5" aria-labelledby="dropdownMenuButton1">
          <a class="btn btn-primary-sub-menu
     mb-5 btn-login fs-4 text-nowrap" href="#" role="button">Log in</a>
          <li><a class="dropdown-item fs-4 fw-bold" href="#">Bill pay</a></li>
          <li><a class="dropdown-item fs-4 fw-bold" href="#">Add a line</a></li>
          <li><a class="dropdown-item fs-4 fw-bold" href="#">Upgrade</a></li>
          <li><a class="dropdown-item fs-4 fw-bold" href="#">Check order status</a></li>
          <li><a class="dropdown-item fs-4 fw-bold" href="#">Ask te Community</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Text Header Nav Bar -->

  <nav class="navbar nav-news_banner">
    <div class="container-fluid">
      <span class="navbar-brand mx-auto fs-3 ">Free 2-day shipping & waived activation cost with online activation.
        Applied
        at checkout.</span>
    </div>
  </nav>

  <!-- Cards -->

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-text">NEWE AND EXISTING CUSTOMERS</h5>
            <h5 class="card-title">iPhone 13 ON US.</h5>
            <h5 class="card-text">On the network with more 5G bars in more places.</h5>
            <p class="card-text">With 30 monthly bill credits when you trade in an eligible device on Magenta® MAX.
              Plus, get a year of Apple TV+ on us.</p>
            <img src="assets/tm-iphone-13-pink.png" class="card-img-bottom" alt="">
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>

        </div>
      </div>
      <div class="col">
        2 of 2
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 2
      </div>
      <div class="col">
        2 of 2
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 2
      </div>
      <div class="col">
        2 of 2
      </div>
    </div>
  </div>

  <h2> Shop our best-selling phones.</h2>

  <!-- Button -See all phones -->
  <!-- HERE -->
  <div class="row">
    <div class="col">
      1 of 4
    </div>
    <div class="col">
      2 of 4
    </div>
    <div class="col">
      3 of 4
    </div>
    <div class="col">
      4 of 4
    </div>
  </div>
  <!-- More Deals -->
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 1
    </div>
  </div>
  <!-- More Deals -->
  <div class="row">
    <div class="col">
      1 of 4
    </div>
    <div class="col">
      2 of 4
    </div>
    <div class="col">
      3 of 4
    </div>
    <div class="col">
      4 of 4
    </div>
  </div>

  <!-- Bottom nav bar -->

</body>
</html>