<html>
    <body>
      <!-- Cards -->
  <p></p>
  <div class="container-2">
    <div class="row">
      <div class="col-6">
        <div class="card bg-dark text-black">
          <img src="assets/tm-iphone-13-pink-grey.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center fs-2">New and Existing Customers</h5>
            <h3 class="card-title text-center card_text2 fw-bold">iPhone 13 ON US.</h3>
            <h3 class="card-title text-center card_text fw-bold">On the network with more 5G bars in more places.</h3>
            <p class="card-text text-center fs-2">With 30 monthly bill credits when you trade in an eligible device on
              Magenta® MAX. Plus, get a year of Apple TV+ on us.</p>
            <div class="center">
              <button type="button" class="btn-lg btn-outline-primary-white2">Shop now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card bg-dark text-white">
          <img src="assets/card-2.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center fs-2">Limited-Time OFFER</h5>
            <h3 class="card-title text-center card_text2 fw-bold ">Switch to T-Mobile</h3>
            <h3 class="card-title text-center card_text2 fw-bold">We'll pay off your phone Now up to $800.</h3>
            <p class="card-text text-center fs-2">Keep you number and your phone, we'll pay it off up to $800 when you
              witch
              to T-mobile. See all eligible devices.</p>
            <div class="center">
              <button type="button" class="btn-lg btn-outline-primary-white">Check it out</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-6">
        <div class="card bg-dark text-black">
          <img src="assets/card-32.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <div class="center"><img src="assets/samsung_logo.png"> </div>

            <h5 class="card-title text-center"></h5>
            <h3 class="card-title text-center card_text2 fw-bold">Up to $800 off.</h3>
            <h3 class="card-title text-center fs-2">Get up to $800 off select Samsung Galaxy 5G phones via 24 monthly
              bill
              credits on a Magenta® MAX plan with trade-in of an eligible device.</h3>
            <div class="center">
              <button type="button" class="btn-lg btn-outline-primary-white">Shop now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card bg-dark text-white">
          <img src="assets/card-5.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center fs-2">Limited-Time Offer</h5>
            <h3 class="card-title text-center card_text2 fw-bold">Samsung Galaxy4 40mm for FREE.</h3>
            <h3 class="card-title text-center fs-2">When you add a qualifying watch line.</h3>
            <div class="center">
              <button type="button" class="btn-lg btn-outline-primary-white">Shop now</button>
            </div>
          </div>
        </div>
      </div>
      <p></p>
    </div>
    <div class="row">
      <div class="col">
        <div class="card bg-dark text-white">
          <img src="assets/card-6.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center fs-2">Limited-Time Offer</h5>
            <h5 class="card-title text-center card_text2 fw-bold ">Apple Watch SE.</h5>
            <h3 class="card-title text-center fs-2">Save $130 on Apple Watch SE 40mm when you add a qualifying line.
            </h3>
            <div class="center">
              <button type="button" class="btn-lg btn-outline-primary-white">Shop now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark text-white">
          <img src="assets/card-7.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center card_text2 fw-bold">Get a 3rd line</h5>
            <h3 class="card-title text-center card_text2 fw-bold">FREE</h3>
            <h3 class="card-title text-center">For a Limited time, when you join with two qualifying lines.</h3>
            <div class="center">
              <button type="button" class="btn-lg btn-outline-primary-white">Check it out</button>
            </div>
          </div>
        </div>
      </div>
      <p></p>
    </div>
    <div class="row">
      <div class="col">
        <div class="card bg-dark text-black">
          <img src="assets/card-8.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-center fs-2">New and Existing Customers</h5>
            <h3 class="card-title text-center card_text2">Get one $0 down.</h3>
            <h3 class="card-title text-center fs-2">Shop the Samsung Galaxy A32 5G and other eligible devices for as
              little as $0 down plus other great deals.</h3>
            <div class="center">
              <button type="button" class="btn-lg btn-outline-primary-white">Check it out</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark text-white">
          <img src="assets/card-9.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <div class="center "><img src="assets/5G-Home-Internet-Logo-Small.png"> </div>
            <h5 class="card-title text-center card_text3 fw-bold">Get one month of</h5>
            <h5 class="card-title text-center card_text3 fw-bold"> T-Mobile Home Internet ON US.</h5>
            <h3 class="card-title text-center">Sign up now to get a $50 Virtual Prepaid Mastercard®, which is good for
              one month of service. Plus, our 5G Wi-Fi Gateway is included at no additional cost and shipping is FREE.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="card_text2"> Shop our best-selling phones.</h1>
  
    </body>
</html>