<html>

<head>
    <title>
        PLANS
    </title>
</head>

<body>
    <div>
        <h1 class="banner text-center">Compare our cell phone plans with 3 lines</h1>
    </div>
    <div class="grid-container ">
        <div class="row">
            <div class="col text-center grid-item">1 </div>
            <div class="col text-center grid-item">
                <p class="fs-1 fw-bold">Essentials</p>
                <div>
                    <span class="h1">$35</span>
                    <span class="h2">/line</span>
                </div>
            </div>
            <div class="col text-center grid-item">
                <p class="h1-red fs-1 fw-bold">Magenta® </p>
                <div>
                    <span class="h1">$47</span>
                    <span class="h2">/line</span>
                </div>
            </div>
            <div class="col text-center grid-item">
                <span class="h1-red fs-1 fw-bold">Magenta® MAX</span>
                <div>
                    <span class="h1">$57</span>
                    <span class="h2">/line</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center grid-item">Unlimited talk & text </div>
            <div class="col text-center grid-item">Yes</div>
            <div class="col text-center grid-item">Yes</div>
            <div class="col text-center grid-item">Yes</div>
        </div>
        <div class="row">
            <div class="col text-center grid-item">Unlimited 5G & 4G LTE data on our network </div>
            <div class="col text-center grid-item">Yes*</div>
            <div class="col text-center grid-item">Yes**</div>
            <div class="col text-center grid-item">Yes</div>
        </div>
        <div class="row">
            <div class="col text-center grid-item">Premium Data </div>
            <div class="col text-center grid-item">50GB*</div>
            <div class="col text-center grid-item">100GB*</div>
            <div class="col text-center grid-item">Unlimited Smartphone speeds can't slow based on usage</div>
        </div>
        <div class="row">
            <div class="col text-center grid-item">Netflix on US </div>
            <div class="col text-center grid-item">-</div>
            <div class="col text-center grid-item">Netflix Basic: 1 Screen SD (For 2+ line accounts)</div>
            <div class="col text-center grid-item">Netflix Basic: 1 Screen SD with 1 line;
                Netflix Standard: 2 Screen HD (For 2+ line accounts)
            </div>
        </div>
        <div class="row">
            <div class="col text-center grid-item">Taxes & fees included </div>
            <div class="col text-center grid-item">-</div>
            <div class="col text-center grid-item">Yes</div>
            <div class="col text-center grid-item">Yes</div>
        </div>
        <div class="row">
            <div class="col text-center grid-item">Mobile hotspot data </div>
            <div class="col text-center grid-item">Unlimited @ 3G speed</div>
            <div class="col text-center grid-item">5GB high-speed data / then Unlimited @ 3G speeds</div>
            <div class="col text-center grid-item">40 GB high-speed data / then Unlimited @ 3G speeds</div>
        </div>
        <div class="row">
            <div class="col text-center grid-item">Unlimited video streaming </div>
            <div class="col text-center grid-item">SD streaming**</div>
            <div class="col text-center grid-item">SD streaming**</div>
            <div class="col text-center grid-item">Up to 4K UHD streaming**</div>
        </div>

        <div class="row">
            <div class="col text-center grid-item">Extended Range 5G </div>
            <div class="col text-center grid-item">Yes</div>
            <div class="col text-center grid-item">Yes</div>
            <div class="col text-center grid-item">Yes</div>
        </div>
        <div class="row">
            <div class="col text-center grid-item">Ultra Capacity 5G</div>
            <div class="col text-center grid-item">Yes</div>
            <div class="col text-center grid-item">Yes</div>
            <div class="col text-center grid-item">Yes</div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h2> Find your ideal plan</h2>
                    <p>Just answer a few questions.</p>
                    <p>Get started</p>
                </div>
                <div class="col-3"></div>
                <div class="col-6">
                    <img src="/assets/Plans/5.12.launchpad_phones_5.png" class="float-right" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container bground">
        <div class="row">
            <div class="col">
                <img src="/assets/Plans/fg_Shows.png" class="float-center"alt="">
            </div>
            <div class="col">
                <p class="text-space">Availible Now Only At T-Mobile</p>
                <h2>Get Apple TV+ on us for one year.</h2>
                <p>Now you can watch critically acclaimed Apple Originals, like Ted Lasso and The Morning Show, with one year of Apple TV+ at no extra cost.</p>
                <!-- Button HERE -->
            </div>
        </div>
    </div>
    <div class="container bg-tm-plans"> 
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <!-- <p>Cell Phone Plans For Everyone</p> -->
        <p class="text3 fw-bold" >Magenta® Max, our</p>
        <p class="text4 fw-bold">best plan ever.</p>
        <!-- <p>Magenta MAX, the first 5G smartphone plan for consumers to offer unlimited premium data 
            that cant slow you down based on how much data you use. Plus, enjoy 40GB of high-speed mobile hotspot data—on T-Mobile.</p> -->
            </div>
        </div>
        
    </div>
    



</body>

</html>