<html>
<div class="container-2 bg-grey ">
  <footer class="p-auto mx-4">
    <div class="row">
      <div class="col-2">
        <h5>Shop phones by brand</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Apple</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Samsung Galaxy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">OnePlus phones</a></li>
        </ul>
        <p></p>
        <h5>New Featured phones</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Samsung Galaxy S22</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Samsung Galaxy S22+</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Samsung Galaxy S22 Ultra</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">New Apple iPhone 13 Mini 5G</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">New Apple iPHone 13 Pro Max 5G</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">New Samsung Galaxy Z Fold3 5G</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Apps & connected</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FamilyMode</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">DIGITS</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">SyncUP TRACKER</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">SyncUP DRIVE</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hotspot devices</a></li>
        </ul>
        <p></p>
        <h5>Plans & information</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Military & Veterans</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Prepaid</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Device Protection</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Data pass</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Switch to T-Mobile</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">We'll help you join</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Saving calculator</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Bring your own device</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trade-in program</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Number porting</a></li>
        </ul>
        <p></p>
        <h5>T-Mobile benefits</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Check order status</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Magenta Plan benefits</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">T-Mobile Tuesday</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Travel</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tech Gifts for Valentine's Day</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h5>Order info</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Check order status</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">View return policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Redeem a rebabte</a></li>
        </ul>
        <p></p>
        <h5>Support</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Phones</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Plans</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Billing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">International</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Emergency Broadband Benefit</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h5>My account</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pay my bill</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Upgrade</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Add a line</a></li>
        </ul>
        <p></p>
        <h5>More than wireless</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Business</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Prepaid</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">TVision</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">T-Mobile MONEY</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home Internet</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">IoT</a></li>
        </ul>
        <p></p>
        <h5>About T-Mobile</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our story</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Newsroom</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Investor relations</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h5>Corporate responisbility</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Community</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sustainability</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">privacy Center</a></li>
        </ul>
        <p></p>
        <h5>Careers</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">T-Mobile careers</a></li>
        </ul>
      </div>



    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; 2021 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter" />
            </svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram" />
            </svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook" />
            </svg></a></li>
      </ul>
    </div>
  </footer>
</div>

</html>